<component name="libraryTable">
  <library name="spring-beans-5.3.30">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring-beans-5.3.30.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring-context-5.3.30.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring-core-5.3.30.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring-expression-5.3.30.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-logging-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>